@(user: models.User, passwordsForm: Form[controllers.PasswordChangeController.ChangeInfo])(implicit request: RequestHeader, messages: Messages)

@import b3.inline.fieldConstructor

@main(Messages("specify.password.title"),Some(user)) {

	@request.flash.get("error").map { msg =>
		<div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
			<a href="#" class="close" data-dismiss="alert">&times;</a>
			<strong>@Messages("error")</strong> @msg
		</div>
	}

	<fieldset class="col-md-6 col-md-offset-3">
		<legend>@Messages("specify.password.title")</legend>
		@helper.form(action = routes.PasswordChangeController.handleChangePassword) {
			@helper.CSRF.formField
			@b3.password( passwordsForm("currentPassword"), '_hiddenLabel -> "Password", 'placeholder -> "current password", 'autofocus -> true )
			@b3.password( passwordsForm("newPassword.password1"), '_hiddenLabel -> "Password", 'placeholder -> "new password", 'autofocus -> true )
			@b3.password( passwordsForm("newPassword.password2"), '_hiddenLabel -> "Repeat password", 'placeholder -> "repeat new password", '_error -> passwordsForm.error("newPassword") )
			<div class="form-group">
				<div>
					<button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@Messages("specify.password.button")</button>
				</div>
			</div>
		}
	</fieldset>
}

