@()(implicit messages: Messages)

@main(Messages("home.title")) {
    <div class="user col-md-6 col-md-offset-3">
        <div class="row data">
            <div class="col-md-12">
                <div class="row">
                    <p>There is a problem with the link you clicked on!</p>
                    <p>The link you used to reach this page is no longer valid. Please re-request the link from our site to try again.</p>
                </div>
            </div>
        </div>
    </div>
}
