@(pwResetForm:Form[String])(implicit request: RequestHeader, messages: Messages)
@import helper._
@import b3.inline.fieldConstructor

@main(Messages("password.reset.title")) {

    @request.flash.get("error").map { msg =>
        <div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>@Messages("error")</strong> @msg
        </div>
    }

    <fieldset class="col-md-6 col-md-offset-3">
        <legend>@Messages("forgot.password.reset.title")</legend>
        @helper.form(action = routes.PasswordChangeController.handleStartResetPassword) {
            @helper.CSRF.formField
            @b3.email(pwResetForm("email"), '_hiddenLabel -> Messages("email"), 'placeholder -> Messages("forgot.password.reset.email-hint"), 'class -> "form-control input-lg")
            <div class="form-group">
                <div>
                    <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@Messages("forgot.password.reset.button")</button>
                </div>
            </div>
        }
    </fieldset>
}