@import play.api.data.Form
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import b3.inline.fieldConstructor

@(changePasswordForm: Form[(String, String)], user: models.User)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@implicitFieldConstructor = @{ b3.vertical.fieldConstructor() }

@main(messages("change.password.title"), Some(user)) {
    <fieldset class="col-md-6 col-md-offset-3">
        <legend>@messages("change.password")</legend>
        @helper.form(action = controllers.routes.ChangePasswordController.submit, 'autocomplete -> "off") {
            <p class="info">@messages("strong.password.info")</p>
            @helper.CSRF.formField
            @b3.password(changePasswordForm("current-password"), '_hiddenLabel -> messages("current.password"), 'placeholder -> messages("current.password"), 'class -> "form-control input-lg")
            @passwordStrength(changePasswordForm("new-password"), '_hiddenLabel -> messages("new.password"), 'placeholder -> messages("new.password"), 'class -> "form-control input-lg")
            <div class="form-group">
                <div>
                    <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@messages("change")</button>
                </div>
            </div>
        }
    </fieldset>
}
