@import play.api.data.Field
@import play.api.i18n.MessagesProvider

@(passwordField: Field, passwordOptions: (Symbol, Any)*)(repeatFieldOpt: Option[Field], repeatOptions: (Symbol, Any)*)(implicit messagesProvider: MessagesProvider)

@implicitFieldConstructor = @{ b3.vertical.fieldConstructor() }

<section>
  @b3.password(passwordField, (Symbol("data-pwd"), "true") +: passwordOptions:_*)
  @repeatFieldOpt.map { repeatField =>
    @b3.password(repeatField, repeatOptions:_*)
    <meter max="4" id="password-strength-meter"></meter>
    <p id="password-strength-text"></p>
  }
</section>
