@import play.api.data.Field
@import play.api.i18n.MessagesProvider

@(passwordField: Field, passwordOptions: (Symbol, Any)*)(repeatField: Field, repeatOptions: (Symbol, Any)*)(implicit messagesProvider: MessagesProvider)

@implicitFieldConstructor = @{ b3.vertical.fieldConstructor() }

<section>
  @b3.password(passwordField, (Symbol("data-pwd"), "true") +: passwordOptions:_*)
  @b3.password(repeatField  , repeatOptions:_*)
  <meter max="4" id="password-strength-meter"></meter>
  <p id="password-strength-text"></p>
</section>
