@import play.api.data.Form
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import b4.inline.fieldConstructor

@this()(implicit webJarsUtil: WebJarsUtil, assets: AssetsFinder)
@(changePasswordForm: Form[(String, String)], user: models.User)(implicit request: RequestHeader, messages: Messages)

@implicitFieldConstructor = @{ b4.vertical.fieldConstructor() }

@main(messages("change.password.title"), Some(user)) {
    <fieldset class="col-md-6 col-md-offset-3">
        <legend>@messages("change.password")</legend>
        @helper.form(action = controllers.routes.ChangePasswordController.submit, Symbol("autocomplete") -> "off") {
            <p class="info">@messages("strong.password.info")</p>
            @helper.CSRF.formField
            @b4.password(changePasswordForm("current-password"), Symbol("_hiddenLabel") -> messages("current.password"), Symbol("placeholder") -> messages("current.password"), Symbol("class") -> "form-control input-lg")
            @passwordStrength(changePasswordForm("new-password"), Symbol("_hiddenLabel") -> messages("new.password"), Symbol("placeholder") -> messages("new.password"), Symbol("class") -> "form-control input-lg")
            <div class="form-group">
                <div>
                    <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@messages("change")</button>
                </div>
            </div>
        }
    </fieldset>
}
