@import play.api.data.Form
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder

@this()(implicit webJarsUtil: WebJarsUtil, assets: AssetsFinder)
@(forgotPasswordForm: Form[String])(implicit request: RequestHeader, messages: Messages)

@implicitFieldConstructor = @{ b4.vertical.fieldConstructor() }

@main(messages("forgot.password.title")) {
    <fieldset class="col-md-6 col-md-offset-3">
        <legend>@messages("forgot.password")</legend>
        @helper.form(action = controllers.routes.ForgotPasswordController.submit(), Symbol("autocomplete") -> "off") {
            <p class="info">@messages("forgot.password.info")</p>
            @helper.CSRF.formField
            @b4.text(forgotPasswordForm("email"), Symbol("_hiddenLabel") -> messages("email"), Symbol("placeholder") -> messages("email"), Symbol("class") -> "form-control input-lg")
            <div class="form-group">
                <div>
                    <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@messages("send")</button>
                </div>
            </div>
        }
    </fieldset>
}
