@(forgotPasswordForm: Form[String])(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)

@import b3.inline.fieldConstructor

@main(Messages("forgot.password.title")) {
    <fieldset class="col-md-6 col-md-offset-3">
        <legend>@Messages("forgot.password")</legend>
        @helper.form(action = routes.ForgotPasswordController.submit(), 'autocomplete -> "off") {
            <p class="info">@Messages("forgot.password.info")</p>
            @helper.CSRF.formField
            @b3.text(forgotPasswordForm("email"), '_hiddenLabel -> Messages("email"), 'placeholder -> Messages("email"), 'class -> "form-control input-lg")
            <div class="form-group">
                <div>
                    <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@Messages("send")</button>
                </div>
            </div>
        }
    </fieldset>
}
