@import play.api.data.Form
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import b3.inline.fieldConstructor
@import forms.ReenterPasswordForm.Data
@import models.generated.Tables.UserRow
@import com.mohiva.play.silhouette.api.LoginInfo

@(reenterPasswordForm: Form[Data], user: UserRow, loginInfo: LoginInfo)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@implicitFieldConstructor = @{ b3.vertical.fieldConstructor() }

@main(messages("reenter.password.title"), Some((user, loginInfo))) {
    @if(reenterPasswordForm.hasGlobalErrors) {
        <p class="alert alert-danger">@reenterPasswordForm.globalError.get.message</p>
    }
    <fieldset class="col-md-6 col-md-offset-3">
        <legend>@messages("reenter.password")</legend>
        @helper.form(action = controllers.routes.ReenterPasswordController.submit, 'autocomplete -> "off") {
            @helper.CSRF.formField
            <strong>Email:</strong> @user.email
            @b3.hidden("email", reenterPasswordForm.data("email"))
            @_passwordStrengthPartial(reenterPasswordForm("password"), '_hiddenLabel -> messages("password"), 'placeholder -> messages("password"), 'class -> "form-control input-lg")(None)
            <div class="form-group">
                <div>
                    <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@messages("reenter.password.continue")</button>
                </div>
            </div>
        }
    </fieldset>
}
