@import play.api.data.Form
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import java.util.UUID

@(form: Form[String], token: UUID)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main(messages("reset.password.title")) {
    <fieldset class="col-md-6 col-md-offset-3">
        <legend>@messages("reset.password")</legend>
        @helper.form(action = controllers.routes.ResetPasswordController.submit(token), 'autocomplete -> "off") {
            <p class="info">@messages("strong.password.info")</p>
            @helper.CSRF.formField
            @passwordStrength(form("password"), '_hiddenLabel -> messages("password"), 'placeholder -> messages("password"), 'class -> "form-control input-lg")
            <div class="form-group">
                <div>
                    <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@messages("reset")</button>
                </div>
            </div>
        }
    </fieldset>
}
