@(form: Form[String] ,token: java.util.UUID)(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)

@import b3.inline.fieldConstructor

@main(Messages("reset.password.title")) {
    <fieldset class="col-md-6 col-md-offset-3">
        <legend>@Messages("reset.password")</legend>
        @helper.form(action = routes.ResetPasswordController.submit(token), 'autocomplete -> "off") {
            <p class="info">@Messages("strong.password.info")</p>
            @helper.CSRF.formField
            @passwordStrength(form("password"), '_hiddenLabel -> Messages("password"), 'placeholder -> Messages("password"), 'class -> "form-control input-lg")
            <div class="form-group">
                <div>
                    <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@Messages("reset")</button>
                </div>
            </div>
        }
    </fieldset>
}
