@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@import models.generated.Tables.UserRow
@import com.mohiva.play.silhouette.api.LoginInfo

@(user: UserRow, loginInfo: LoginInfo)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main(messages("restricted.forbid.cookie"), Some((user, loginInfo))) {

<div class="user col-md-6 col-md-offset-3">
    <div class="row">
        <hr class="col-md-12" />
        <h4 class="col-md-8">@messages("restricted.secrets")</h4>
        <hr class="col-md-12" />
    </div>
</div>
}